 <!-- Footer section -->
      <!-- Footer -->
      
      <footer class="page-footer font-small blue pt-4 footer">
          <div class="container">
          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">
        
            <!-- Grid row -->
            <div class="row">
        
              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">
        
                <!-- Content -->
                <h5 class="text-uppercase">Infinity Careers</h5>
                <p>Infinitycareers.com.ng serves as a
                    credible platform for both employers and job applicants, based on its rich information resources. This is what we are known for.</p>
        
              </div>
              <!-- Grid column -->
        
              <hr class="clearfix w-100 d-md-none pb-3">
        
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
                <h5 class="text-uppercase">Other</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">About Us</a>
                  </li>
                  <li>
                    <a href="#!">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#!">Career Advice</a>
                  </li>
                  <li>
                    <a href="#!">Send a Message to Us</a>
                  </li>
                </ul>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
        
                <!-- Links -->
                <h5 class="text-uppercase">Contact</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">07086893778</a>
                  </li>
                  <li>
                    <a href="#!">info@infinitycareers.com.ng</a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/Infinity-Careers-358695041346284/">Facebook</a>
                  </li>
                  <li>
                    <a href="#!">Twitter</a>
                  </li>
                </ul>
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          <!-- Footer Links -->
          </div>
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3"> 
            <div class="container">
                <p>© AllRights Reserved By:
                    Infinity careers
                </p>
                <!-- <span>
                  Website created by <a href="http://facebook.com/bbtconcept">BBTCONCEPT</a>
                </span> -->
            </div> 
          </div>
          <!-- Copyright -->
        
        </footer>
        <!-- Footer -->
        

    </div>  
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>