<div class="col-md-4 mb-2 mt-2 mymd4">
    <img src="https://via.placeholder.com/250/cccccc/FFFFFF/?text=IPaddress.netC/O https://placeholder.com/" width=150px height="150px">
                    <p><h6><%= employer.companyname %></h6></p>
                    <p><h6><%= employer.email %></h6></p>
                    <p><h6><%=employer.companyaddress %></h6></p>
              
</div>